/src/kaa/_kaa.*.so
/src/kaa/_kaa.*.pyd
/src/kaa/libSDL2*.so*
/src/kaa/libSDL2*.dll
/src/kaa/bin
build/
dist/
cmake_build/
_skbuild/
wheelhouse/
src/kaa/_kaa.cpp
*.pyc
.vscode
*.egg-info
.idea
/docs/_build
